*.Rout
*.beam
*.class
*.hi
*.o
*.plt
*.pyc
*~
.*
\#*#
competition/cljwsdemo/target/
competition/cowboy-*/
competition/distribute*.tar.gz
competition/log/*.log
competition/node-v0.8.21/
competition/node_modules
competition/play-2.0.1/
competition/pypy-1.9
competition/supervisord.pid
competition/wsdemo-go-gonet
competition/wsdemo-go-gonet
competition/wsdemo-playframework-2/project/target/
competition/wsdemo-playframework-2/target/
competition/wsdemo-playframework-2/wsdemo-1.0-SNAPSHOT/
competition/wsdemo-snap
data
deps/
dist/
ebin/
node_modules/
priv/
results/
src/
stats/*.Rout
stats/*.csv
stats/db
stats/stat_results/
erl_crash.dump
