[
    {sasl, [
        {sasl_error_logger, {file, "/home/vagrant/data/wsdemo-sasl-error.vagrant-small.log"}}]},

    {wsdemo_bench, [
                {host, "server"},
                {port, 8000},
                {db_root, "/vagrant/data/vagrant-small" },
                {clients, 100},
                {seconds, 10},
                {supervisord, {"server", 9001}}]}].
